
@import  "menu.css";
@import "setting.css";
@import "header.css";
@import "search.css";
@import "poshtiban.css";
@import "slider.css";
@import "zirslider.css";
@import "second-slider.css";
@import "zirslider2.css";
@import "zir2.css";
@import "dastebandi.css";
@import "pishnahad.css";
@import "fav.css";
@import "digiplus.css";
@import "digiclub.css";
@import "porforosh.css";

::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(181, 181, 181);

}