
div.poshtiban{
    position: fixed;
    border-radius: 50%;
    background-color: #EF4056;
    bottom: 15px;
    left: 55px;
    padding: 14px;
}
div.poshtiban>svg{
    display: block;
    width: 25px;
    height: 25px;
}
div.poshtiban{
    cursor: pointer;
}


