div.second-slider{
    width: 85%;
    height: 290px;
    background-color: #EF394E;
    margin: 0 auto;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    border-left: 3px solid #EF394E;
    border-right: 3px solid #EF394E;

}
div.second-slider> div.rast{
    width: 13%;
    border-radius: var(--border-radius);
    height: inherit;
}
div.second-slider> div.rast>svg{
    width: 92px;
    height: 77px;
    display: block;
    margin: 10px auto;
    transform: translateY(30px);
}
div.second-slider>div.rast>img{
    width: 130px;
    height: 120px;
    display: block;
    margin: 30px auto;
}
div.second-slider> div.rast>p{
    font-size: 13px;
    width: 100px;
    color: white;
    display: block;
    margin: 0 auto;
    transform: translateY(-20px);
}
div.second-slider> div.rast>p>span{
    vertical-align: -2px ;
}

div.second-slider>div.chap{
    width: 1120px;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 250px / 2) ;
    right: 13%;
    border-bottom-right-radius: var(--border-radius-kam);
    border-top-right-radius: var(--border-radius-kam);
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  div.swiper-container>div.swiper-wrapper> div.swiper-slide {
    width: 182px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
    padding-top: 15px;

  }

  div.swiper-container>div.swiper-wrapper> div.swiper-slide img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  div.swiper-container>div.swiper-wrapper> div.swiper-slide::after {
    content: "";
    
  }


